
<html>
<head>
    <title>blog posts</title>
    </head>
    <body>
        <h1>Blog Posts</h1>

        <center>
            <div class="header">
<h1>CREATE POST</h1>
</div>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
        Title:   <input type="text" name="title"/>
        Content:    <input type="text" name="content"/>
        <button type="Submit">Create</button>
        </form>
      

        <h3><a href="{% url 'post_list' %}">Details</a></h3>
    </center>
    </body>
</html>